# Copyright (C) 2018 Jasper Boom

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License version 3 as
# published by the Free Software Foundation.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.

# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.

black==20.8b1
biopython==1.78
flake8==3.9.0
jellyfish==0.8.2
numpy==1.20.1
pandas==1.2.3
pre-commit==2.11.1
pyfastx==0.8.2
pytest==6.2.2
setuptools==78.1.1
sre-yield==1.2
vsearch==2.15.2

#########################
# Additional information:
#     This file contains all requirements for Caltha.
#     It also contains all requirements for testing Caltha.
#########################
